// SFUfutura
@font-face {
  font-family: SFUfutura;
  src: url("~@child-fonts/SFUFuturaRegular.TTF");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//VNF-Futura
@font-face {
  font-family: VNF-Futura;
  src:
    url("~@child-fonts/VNF-Futura.woff") format("woff"),
    url("~@child-fonts/VNF-Futura.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
