@use "../abstracts/variables.scss" as *;
@use "../abstracts/mixin.scss" as *;

body:not(.wp-admin) {
  font-family: $mainFont !important;
  line-height: 1.2 !important;

  @include resFont(rem(14), rem(16));
}

body:not(.home) main#main_content {
  padding-top: rem(90);

  @include maxWidth($md) {
    padding-top: rem(30);
  }
}

.container {
  max-width: $xl;
}

.container-fluid {
  padding-right: rem(100) !important;
  padding-left: rem(100) !important;

  @include maxWidth($lg) {
    padding-right: rem(50) !important;
    padding-left: rem(50) !important;
  }

  @include maxWidth($md) {
    padding-right: rem(20) !important;
    padding-left: rem(20) !important;
  }

  @include maxWidth($sm) {
    padding-right: rem(15) !important;
    padding-left: rem(15) !important;
  }
}

h1.page-title {
    text-transform: uppercase;
    font-size: rem(30);
    font-weight: $semiBold;

    @include maxWidth($md) {
			font-size: rem(24);
      text-align: center;
		}
}

figcaption {
  color: #fff !important;
}

.page-hero {
  padding: 3rem 0;

  @include maxWidth($md) {
    padding: 0 0 2rem;
  }
}