@use "@parent/styles/theme/abstracts/variables" as *;
@use "@parent/styles/theme/abstracts/mixin" as *;
@use "../../../resources/styles/theme/abstracts/variables" as *;

.block-cta-section {

    &__inner {
        margin: 0 auto;
        color: $darkColor;
    }

    &__headline {
        margin: 0 0 1.2rem;
        text-align: center;
        font-family: $subFont;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        line-height: 1.3;

        @include resFont(rem(18), rem(34));
    }

    &__desc {
        margin: rem(48) auto;
    }

    &__btn {
        text-align: center;
    }

    &__link {
        padding: 0.85em 2em;
        display: inline-block;
        font-family: $subFont;
        background-color: $primaryColor;
        color: $lightColor;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        font-weight: $light;
        border-radius: $rSm;
        border: 1px solid transparent;
        transition: opacity 0.25s ease;

        &:hover {
            background-color: $lightColor;
            color: $primaryColor;
            border-color: $primaryColor;
        }
    }
}

.editor-styles-wrapper .block-cta-section__headline {
    font-family: $subFont !important;
}
